<%= link_to "home", "/" %>
<h1><%= @place.name %></h1>
  <ul>
      <li>Latitude: <%= @place.longitude %></li>
    <li>Longitude: <%= @place.latitude %></li>
  </ul>

<h2>Update Place</h2>
<%= form_with(url: @place, method: "patch") do %>

  <%= label_tag(:name, "Name") %>
  <%= text_field_tag(:name,  @place.name)%><br />

  <%= label_tag(:latitude, "Latitude") %>
  <%= text_field_tag(:latitude, @place.latitude) %><br />

  <%= label_tag(:longitude, "Longitude") %>
  <%= text_field_tag(:longitude, @place.longitude) %><br />

  <%= submit_tag("Update") %>
<% end %>
